@font-face {
  font-family: titr;
  src: url(../../assets/font/titr.ttf);
}
@font-face {
  font-family: zar;
  src: url(../../assets/font/zar.ttf);
}

.sheet {
  width: 26cm;
  height: 40cm;
  border-style: double !important;
  margin-bottom: 30px;
  position: relative;
}
.titr {
  font-family: titr !important;
  font-size: 16px;
}
.bold {
  font-weight: 900;
}
.sheet.secondSheet {
  margin-top: 1%;
} 

.previewSheet {
  padding: 30px;
  margin-left: 10%;
}
.bodyPart {
  width: 100%;
  text-align: right;
  font-family: zar;
  padding: 10px;
  font-size: 21px;
}

#hideOnPrintBtn {
  margin: 5px;
}


@media print {
  .sheet {
    width: 100%;
    height: 39.9cm;
    margin-bottom: 1px;
  }
  #hideOnPrintBtn {
    display: none;
  }
  .bodyPart {
  padding: 25px;

  }
  .previewSheet {
    padding: 0;
    margin-left: 0;
  }
}
