#infoForm {
  padding: 3%;
  width: 50%;
  float: right;
}
#infoForm label {
  text-align: right;
  float: right;
}
#submitBtn,#backBtn {
  position: fixed;
  margin: 30px;
  bottom: 0;
}
#backBtn {
  left: 100px
}
.is-invalid {
  border: 1px solid red;
}
#saveUser {
  right: 0;
}
.saveUser-label {
  margin-right: 20px;
}