#poroshatUserInfoForm {
  padding: 3%;
  width: 50%;
  float: right;
}
#poroshatUserInfoForm label {
  text-align: right;
  float: right;
}
div.buttonSection {
  position: fixed;
  margin: 30px;
  bottom: 0;
}
#backBtn, #submitBtn {
  min-width: 80px;
  margin-top: 5px;
}

.is-invalid {
  border: 1px solid red;
}
#saveUser {
  right: 0;
}
.saveUser-label {
  margin-right: 20px;
}