.modal .d-flex.flex-row-reverse.bd-highlight.mb-2 button{
    margin-left: 10px;
}
#addUserBtn {
    font-size: 28px;
    border: 1 !important;
}

#addUserBtn {
    padding-bottom: 8px;
    padding-top: 0;
    border-radius: 50px;
    margin-left: 15px;
}