.users-table{
    direction: rtl !important;
    float: right;
    text-align: right !important;

}
.actionBtn {
    border: 0 !important;
}
.addUserBtn {
    margin-left: 15px;
    margin-top: 5px;
}


.backBtn {
    left: 0 !important;
}
.flex-button-section {
    /* width: 10px !important; */
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}
